<header>
  <div class="container">
    <div class="header">

      <nav class="main-nav">
        <a href="index.html" class="main-nav__logo">
          <svg width='131' height='32'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </a>

        <div class="nav-list">
            <a class="nav-list__link" href="#">Home</a>
            <a class="nav-list__link" href="#">About</a>
            <a class="nav-list__link" href="#">Contact</a>
        </div>

        <a class="main-nav__button" href="#">Let's talk</a>

      </nav>

    </div>
  </div>
</header>
